body{
	font-family: 'PT Sans', sans-serif;
	color:#010101;
}
/*header start*/
header{
	background-color: #fcdb00;
	padding: 15px 0;

}
.logo{}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
	color:#010101 !important;
	padding: 0 50px !important;
	text-transform: capitalize;
	transition: 0.3s;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover{
	color: white !important;
}
/* header end*/
/*slider start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.cid{
	bottom: -80px;
}
.cid li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.s_cont{
	margin-top: 60px;
}
.s_cont h1{
	font-weight: 700;
	font-size: 32px;
	margin: 0;
}
.s_cont h2{
	font-weight: 400;
	font-size: 20px;
	color:#313841;
	margin: 20px 0;
}
.s_cont p{
	color:555555; 
	margin-top: 0;
	margin-bottom: 30px;
}
.s_icon{}
.s_icon li i{
	font-size: 42px;
	margin-right: 20px;
	transition: .3s;
}
.s_icon li i:hover{
	color: white;
	transform: scaleX(-1);
}
.s_image{}
.s_image img{}
/*slider end*/
/*feature start*/
.feature{
	padding-top: 80px;
	padding-bottom: 100px;
}
.c_title{}
.c_h1{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}
.c_p{
	font-size: 20px;
	color:#313841;
	line-height: 25px;
	word-spacing: 2px;
}
.m_t_60{
	margin-top: 60px;
}
.single_icon{
	font-size: 50px;
}
.single_content{}
.single_content h2{
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 13px;
}
.single_content p{
	color: #898989;
	letter-spacing:1px; 
}
/*contact start*/
.contact{
	background-color: #010101;
	padding-top: 80px;
	padding-bottom: 50px;
}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.f_form{
    margin-top: 30px;
    margin-bottom: 60px;
}
.f_email{
	width: 100%;
	height: 50px;
	font-size: 16px;
	color:#898989 !important;
	border: none;
}
.f_email:focus{
	outline: 0;
	box-shadow: none;
}
.f_submit{
	width: 100%;
	height: 50px;
	background-color:#fcdb00;
	font-weight: 700;
	font-size: 16px;
	color: #010101;
	text-transform: uppercase;  

}
.f_submit:focus{
	outline: 0;
	box-shadow: none;
}
.f_submit:hover{
	background-color: white;
}
.slocial_link a{
  width: 36px;
  height: 36px;
  border-radius: 5px;
  display: inline-block;
  line-height: 36px;
  color: #010101;
  background-color: #fcdb00;
  transition: .3s;
  -webkit-transition: .3s;

}

.slocial_link a:hover{
  background-color: #fff;
  
}

/*footer start*/
.footer_sec{
  background-color: #010101;
}

.footer_widget address{
  color: #fff;
}
.footer_widget p{
  color: #fff;
}

.footer_widget ul {
  padding-left: 0;
}

.footer_widget ul li a{
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;

}

.footer_widget ul li a:hover{
  color: #fcdb00;
}

